/* Global styles */
body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;
  background-color: #121212; 
}

.project-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

/* Left section styling */
.left-section {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.left-section h1 {
  font-size: clamp(2rem, 5vw, 4rem);
  color: #61dafb;
  font-weight: 800;
  margin-bottom: 10px;
  letter-spacing: 1px;
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  text-align: left;
}

.devider {
  border: none;
  border-top: 2px solid #e0e0e0;
  width: 40%;
  margin-left: 0;
}

.left-section p {
  color: rgb(208, 208, 208);
  font-size: clamp(1rem, 2.5vw, 1.25rem);
  margin-top: 10px;
}

.left-section ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.left-section li {
  background-color: #333;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 16px;
}

.live-link {
  margin-top: 20px;
  color: rgb(208, 208, 208);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.3s ease;
  width: fit-content;
}


/* Right section styling */
.right-section {
  flex: 1 1 100%;
  display: flex;
  flex-direction: column;
  margin: 20px 0;
  justify-content: center;
  align-items: center;
}

.project-img {
  width: 100%;
  max-width: 600px;
  height: auto;
  object-fit: contain;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.3);
}

.back-arrow {
  /* margin-top: 12px; */
  margin-top: auto; 
  padding-top: 1rem;
  font-size: 1rem;
}

.arrow-link {
  color: #c6c6c6;
  text-decoration: none;
  font-weight: 500;
  transition: transform 0.2s ease, color 0.3s ease;
}

/* Media Queries for tablet and up */
@media (min-width: 768px) {
  .left-section,
  .right-section {
    flex: 1;
    margin: 0 20px;
  }

  .left-section {
    margin-left: 50px;
    text-align: left;
  }

  .right-section {
    margin-left: 20px;
    align-items: flex-start;
  }
}
