@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');
.about-container {
    position: relative;
    z-index: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.bg-video {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures video covers the entire screen */
    z-index: -1;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    text-align: left;
    z-index: 2;
}

.overlay h1 {
    font-size: 5rem;
    font-family: 'Oswald', sans-serif;
}
.overlay p {
    font-size: 1.4rem;
    font-weight: 600;
    font-family: 'Grandiflora One', sans-serif;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .overlay h1 {
        font-size: 4rem; 
    }
    .overlay p {
        font-size: 1.2rem; 
    }
}

@media (max-width: 768px) {
    .overlay h1 {
        font-size: 3rem; 
    }
    .overlay p {
        font-size: 1rem; 
    }
}

@media (max-width: 480px) {
    .overlay {
        left: 50%;
        position: relative;
        padding: 10px;
    }
    .overlay h1 {
        font-size: 2.5rem; 
    }
    .overlay p {
        font-size: 1rem;
    }
}