body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  overflow-x: hidden;  
}

.home-container {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #ffffff;
  /* background: linear-gradient(to right, #f1f1f1, #ffffff); */
  flex-direction: row;  
}

/* Left section styling */
.left-sec h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: #2c2c2c;
  /* margin-bottom: 10px; */
  font-family: 'Oswald', sans-serif;
}

.left-sec p {
  font-size: 1.6rem;
  color: #000000;
  font-weight: 500;
  font-family: 'Grandiflora One', sans-serif;
}
h2 {
    font-size: 1.5rem;
    font-weight: 600; 
    color: #2c2c2c;
    margin-top: 20px; 
    margin-bottom: 10px; 
    font-family: 'Oswald', sans-serif; 
}

.download-pdf {
  background-color: #2c2c2c;
  color: #fff; 
  border: none; 
  padding: 10px 20px; 
  font-size: 1rem; 
  border-radius: 30px; 
  cursor: pointer; 
  transition: all 0.3s ease; 
  display: inline-flex;
  /* align-items: center; */
}
.download-pdf:hover {
  background-color: #454545; 
  transform: translateY(-2px); 
}
.download-pdf:focus {
  outline: none; 
}

.download-pdf:active {
  transform: translateY(1px); 
}

/* Optional icon for the button (if desired) */
.download-pdf::before {
  /* content: url('path/to/icon.svg');  */
  margin-right: 10px; /* Space between the icon and text */
}

/* Right section styling */
.skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.skills-section h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #2c2c2c;
  margin-bottom: 20px;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 1px;
}
.skills-divider {
  width: 50%;
  border: none;
  border-top: 2px solid #e0e0e0;
  margin: 20px 0;
}

.skill-icons{
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  padding: 20px;
}

.skill-icons i {
  font-size: 48px;
  transition: transform 0.3s ease;
  cursor: default;
}

.skill-icons i:hover {
  transform: scale(1.2);
}

/* Mobile responsive adjustments */
@media (max-width: 768px) {
  .home-container {
      flex-direction: column; 
      padding: 20px;
  }

  .left-sec{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .left-sec h1 {
      font-size: 3rem;  /* Smaller font size */
  }

  .left-sec p {
      font-size: 1.2rem;  /* Adjust paragraph size */
  }

  .skill-icons {
    justify-content: center;
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  .home-container {
      flex-direction: column;  /* Ensure sections stack on very small screens */
  }

  .left-sec h1 {
      font-size: 2.5rem;  /* Further reduce font size */
  }

  .left-sec p {
      font-size: 1rem;  /* Smaller text for mobile */
  }

  .my-pic {
      width: 250px;  /* Adjust image size for very small screens */
  }
  h2{
    font-size: 1.2rem;
  }
}
