.navbar-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    /* background: rgba(255, 255, 255, 0.9);  */
    transition: background 0.3s ease-in-out;
    background: transparent !important;
}


/* Left section styling */
.my-logo{
    width: 100px;
}


/* Right section styling */
.right-sec{
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.ul-calss{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style-type: none; /* Remove the default list bullets */
    padding: 0;
}

.ul-calss li {
    position: relative;
    padding-right: 20px; /* Space for the pipe symbol */
    /* color: gray; */
}


.ul-calss li::after {
    content: '|';
    position: absolute;
    right: 0;
}

/* Remove pipe after the last item */
.ul-calss li:last-child::after {
    content: ''; /* Remove the pipe symbol from the last item */
}

/* Change color of links inside list items */
.ul-calss li a {
    color: #131313;
    text-decoration: none;  
    font-family: 'Grandiflora One', sans-serif;
    font-weight: 600;
}
  .ul-calss li a:hover {
    color: #484848;  
}


/* if pathname is works or contact */
.white-text {
    color: white !important;
}

.white-text:hover {
    color: #ccc !important; /* Slightly dim on hover */
}